@model TournamentTracker.Models.GameModels.PlayStart

<div id="page-wrapper">
    @*Title for admin*@
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Admin Features</h1>
        </div>
    </div>
    <div class="row">
        @*Table on left with Tables*@
        <div class="col-lg-8">
            <div class="panel panel-default">
                <div class="panel-heading">Tables</div>
                <div class="panel-body"></div>
            </div>
        </div>
        @*Table on right with active players*@
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">Players</div>
                <div class="panel-body">
                    <div class="list-group" id="PlayersList">
                        <a href="#" class="list-group-item"> Test Player <span class="pull-right text-muted small" > Active </span></a>
                    </div>
                </div>
            </div>
        </div>
        @* end Table on right with active players*@
        @*Table on left with scores*@
        <div class="col-lg-8">
            <div class="panel panel-default">
                <div class="panel-heading">Tables</div>
                <div class="panel-body"></div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
