@model TournamentTracker.Models.GameModels.Games

<form asp-action="View">
    <div class="form-horizontal">
        <h4>Games</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="GameID" />
        <div class="form-group">
            <label asp-for="CurrentGameTime" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CurrentGameTime" class="form-control" />
                <span asp-validation-for="CurrentGameTime" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="GameLength" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="GameLength" class="form-control" />
                <span asp-validation-for="GameLength" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="GameRulesID" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="GameRulesID" class="form-control" asp-items="ViewBag.GameRulesID"></select>
                <span asp-validation-for="GameRulesID" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Player1" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="Player1" class="form-control" asp-items="ViewBag.Player1"></select>
                <span asp-validation-for="Player1" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Player1Score" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="Player1Score" class="form-control" asp-items="ViewBag.Player1Score"></select>
                <span asp-validation-for="Player1Score" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Player2" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="Player2" class="form-control" asp-items="ViewBag.Player2"></select>
                <span asp-validation-for="Player2" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Player2Score" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="Player2Score" class="form-control" asp-items="ViewBag.Player2Score"></select>
                <span asp-validation-for="Player2Score" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Table" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Table" class="form-control" />
                <span asp-validation-for="Table" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
