<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1 id="homeHeading" class="TextShadow">40k Tournament Organiser</h1>
            <hr>
            <p class="TextShadow">The tournament organiser that makes running events easy! (Coming Soon)</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">The website that runs your events!</h2>
                <hr class="light">
                <p class="text-faded">The simple soloution to running an event in your club! Removing the hassle of keeping track of scores, tables and getting feedback from your players</p>
                <a href="#Features" class="page-scroll btn btn-default btn-xl sr-button">What we offer</a>
            </div>
        </div>
    </div>
</section>
<section id="Features">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Our Features</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-users text-primary sr-icons"></i>
                    <h3>User Tracking</h3>
                    <p class="text-muted">Users are tracked so you can easily keep track of who is coming to your event.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-clock-o text-primary sr-icons"></i>
                    <h3>Real Time</h3>
                    <p class="text-muted">Tournaments are run in real time, and allows for users to be updated at their tables.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-cogs text-primary sr-icons"></i>
                    <h3>Table Generation</h3>
                    <p class="text-muted">Event tables are calculated on players scores.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-crosshairs text-primary sr-icons"></i>
                    <h3>Custom Objectives</h3>
                    <p class="text-muted">Missions can have custom objectives and secondary missions which are scored differently.</p>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-comment-o text-primary sr-icons"></i>
                    <h3>Chat System</h3>
                    <p class="text-muted">Events have a chat system that allows players to communicate.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-thumbs-up text-primary sr-icons"></i>
                    <h3>Best Sportsman</h3>
                    <p class="text-muted">Best sportsman rating are done secretly allowing for accurate ratings.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paint-brush text-primary sr-icons"></i>
                    <h3>Best Painted</h3>
                    <p class="text-muted">Best painted ratings taken at the end of every event.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart text-primary sr-icons"></i>
                    <h3>Players Leaderboard</h3>
                    <p class="text-muted">Players scores are tracked across events.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="cta">
    <div class="cta-content">
        <div class="container">
            <h2>Stop waiting.<br>Start building.</h2>
            <a href="#contact" class="btn btn-outline btn-xl page-scroll">Let's Get Started!</a>
        </div>
    </div>
    <div class="overlay"></div>
</section>
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Let's Get In Touch!</h2>
                <hr class="primary">
                <p>Ready to start your next project with us? That's great! Give us a call or send us an email and we will get back to you as soon as possible!</p>
            </div>
            @*<div class="col-lg-4 col-lg-offset-2 text-center">
                <i class="fa fa-phone fa-3x sr-contact"></i>
                <p>123-456-6789</p>
            </div>*@
            <div class="col-lg-4 text-center">
                <i class="fa fa-envelope-o fa-3x sr-contact"></i>
                <p><a href="mailto:your-email@your-domain.com">feedback@startbootstrap.com</a></p>
            </div>
        </div>
    </div>
</section>